.header {
  position: fixed;  /* Fix the navbar at the top */
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #026d18, #026d18);
  padding: 5px;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover{
  text-decoration: underline;
}

.contact-btn {
  border: 2px solid white;
  padding: 8px 16px;
  background: transparent;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-btn:hover {
  background: white;
  color: #026d18;
}
