.new-user-main-container {
  padding: 1.5rem;
}

.new-user-sub-heading {
  font-weight: var(--bold-font-weight);
  color: var(--primary-color);
  letter-spacing: normal;
  font-size: 1.25rem;
}

.image-container {
  margin-top: var(--margin-md);
}

.user-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
  height: 6rem;
  width: 6rem;
}

.user-image {
  border: 1px solid lightgrey;
  border-radius: 4px;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.add-photo {
  text-wrap: nowrap;
}

.remove-container {
  display: flex;
  align-items: center;
}

.user-info-fields-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0;
  max-width: 1440px;
}

.user-fields-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.role-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.role-heading {
  font-weight: var(--bold-font-weight);
  color: var(--primary-color);
  letter-spacing: normal;
  font-size: 1.25rem;
}

.role-profile-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 0;
  max-width: 1440px;
}

.create-user-button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.user-button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

@media screen and (max-width: 900px) {
  .user-info-fields-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 758px) {
  .user-info-fields-container {
    grid-template-columns: 1fr;
  }
}
