.openplay-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
  }
  
  .submit-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .table-container{
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 100%;

    & table{
        width: 100%;
        table-layout: fixed; 
        th, td {
            padding: 12px;
            text-align: left;
            word-wrap: break-word;
        }

        tr{
            background-color: rgb(194, 193, 199);
        }
        
         th{
            background-color: #578bf3;
         }
        }
      }