.club-landing {
    display: flex;
    justify-content: top;
    align-items: top;
    color: white;

  }
  .membership-types{
    background-color: black;
    align-items: center;
  }
  .membership-types h2{
    background-color: black;
    color: white;
    margin-top: 0rem;
  }
  .membership-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    background-color: black;
  }
  
  .membership-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .membership-card:hover {
    transform: scale(1.05);
  }
  
  .club-container {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.club-container h1 {
    color: white;
}

.club-container p {
    color: white;
    font-size: 1.5rem;
}

.club-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 20px;
}

.button-group {
    top:0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: black;
}
.button-group p{
    top:0;
    display: flex;
    padding-right: 70rem;
    gap: 10px;
    background-color: black;
    color: white;
}

.btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: black;
}
