.App{
    display: flex;
    flex-direction: row;
}


.full-calendar, .full-calendar * {
  font-family:Arial, Helvetica, sans-serif;
}
.p {
  font-size: 10px;
}
  /* .full-calendar {
    width: 75vw;
    
  } */
  /* .calendar {
    width: 18vw;
    margin-left: 1vw;
    font-size: small;
  } */
  .booking-button{
    margin-top:0.5rem;
    margin-bottom: 1rem;;
  }
  .modal-container h3{
    margin-top: 0rem;
  }
  .modal-content{
    width:300px;
    padding: 0rem;
  }
  
ul.ordering {    
  list-style:none;   
  min-width:250px; 
}

ul.ordering li{ 
    font-size: 15px;
}
ul.ordering li span{  
  width: 12px; 
  height: 12px; background:red;  
  display:inline-block; 
  margin-right:6px
 }

 .fc .fc-button-primary { 
  color: #000000 !important; 
  background-color: #f7f7f7 !important; 
}

.fc .fc-button-primary:hover { 
  color: #f7f7f7 !important; 
  background-color: #2667f2 !important; 
}



.button-container {
  position: absolute;
  margin-top: 10px; 
  margin-left: 20px; 
}

.fc-timegrid-slot {
    height: 50px !important; 
}
