.user-profile-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.user-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
}

.user-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-profile-container .user-profile__avatar {
  width: 31px;
  height: 30px;
  line-height: 1rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-icon {
  margin-right: 10px;
  margin-left: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
  fill: lightgrey;
  color: lightgrey;
}

.expand-icon:hover {
  transform: rotate(180deg);
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  position: absolute;
  border-radius: var(--border-radius-sm);
  top: 3rem;
  right: -1.5rem;
  color: var(--text-color);
  padding: var(--padding-md);
  min-width: 18.8rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.user-profile__name,
.user-profile__email {
  display: flex;
  align-items: center;
}
.user-profile__name {
  font-weight: var(--bold-font-weight);
  font-family: var(--font-family-secondary);
  font-size: 18px;
}
.user-profile__email {
  font-weight: 400;
}
.user-profile__name [data-testid='EditIcon'] {
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 1.25rem;
}
.user-profile__hr {
  border: 1px solid var(--primary-color-200);
  margin: 0px -1rem;
}
.user-profile-details .logout-btn {
  color: var(--accent-color);
  gap: var(--gap-sm);
  border: none;
  display: flex;
  justify-content: left;
  padding-left: 0;
}

.profile__close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile__settings {
  cursor: pointer;
  padding: 0.8rem 0.2rem;
  font-family: var(--font-family-secondary);
  font-weight: 400;
  display: flex;
  padding-left: 0;
}
.user-profile__settings:hover {
  background: none;
}
.logout-btn {
  display: flex;
}
.logout-btn:hover {
  background: none;
}

.logout-dialog-paper {
  width: 28.125rem;
}

.logout-dialog-paper .logout-dialog-title {
  font-size: 1.2rem;
  font-weight: var(--bold-font-weight);
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: var(--padding-lg);
}

.logout-dialog-paper .logout-dialog-content {
  font-size: var(--default-font-size);
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  padding-bottom: var(--padding-md);
}

.logout-dialog-actions {
  margin-bottom: var(--margin-md);
}

.logout-dialog-paper .logout-dialog-cancel-btn {
  background-color: rgb(218, 218, 218);
  border: none;
  color: var(--text-color);
  width: 12.5rem;
  height: 3rem;
}

.logout-dialog-paper .logout-dialog-logout-btn {
  color: var(--accent-color);
  width: 12.5rem;
  height: 3rem;
  border-color: var(--accent-color);
}

.user__profile__logout__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.user__profile__details__container {
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .user-profile-details {
    right: -2.5rem;
  }
}
